@model Category
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Sửa đổi danh mục</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">STT</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CategoryId"]" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Tên danh mục</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CategoryName" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Ngày tạo</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["CreatedAt"]" />
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Categorys" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

